<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="flex justify-between py-4 px-40 bg-white border-b-2">
  <!-- logo -->
  <div class="text-[#464748] text-4xl font-bold">
    SARA<span class="text-green-500"> SHOP</span>
  </div>
  <div
    class="hidden lg:flex items-center justify-center space-x-5 text-black font-medium text-lg flex-1"
  >
  <a routerLink="/">

  <div>Home</div>
    </a>
    <div>News</div>
    <div>Contact US</div>
  </div>
  <div
    class="flex  items-center cursor-pointer hover:bg-gray-200 py-3 px-4 rounded-md"  
  >
    <i class="fas fa-shopping-cart   text-xl"></i> 
    <a routerLink="/cart">
    <span class="ml-2 text-xl font-medium">Cart</span>  
  </a>
  </div>  
</div>
